<div class="row d-flex justify-content-center">
    <div class="col-12">
        <%= render 'layouts/navbar' %>
        <h1 class="text-center">Lyric Edit</h1>
    </div>
    <div class="col-8">
        <% @op = 'Save' %>
        <%= render 'lyric_form', lyric: @lyric %>
    </div>
</div>