<div class="row d-flex justify-content-center">
    <div class="col-12 px-0">
        <h1 class="text-center my-3">Lyric Post</h1>
    </div>
    <div class="col-10 mx-auto">
        <% @op = 'Lyric Post' %>
        <%= render 'lyric_form', lyric: @lyric %>
    </div>
</div>