<div class="col-12">
<%= form_with(model: message, local: true) do |form| %>
    <% render 'layouts/error_message', model: message %>
    <div class="row d-flex justify-content-around" id="form-ground">
        <div class="col-10 form-group m-0 p-0">
            <%= form.text_area :content, class: 'form-control',id: "textarea", size: "10x1" %>
            <script type="text/javascript">
                $(function() {
                    var lineHeight = parseInt($('#textarea').css('lineHeight'));
                    $('#textarea').on('input', function(evt) {
                        let lines = ($(this).val() + '\n').match(/\n/g).length;
                        $(this).height(lineHeight * lines);
                        $(window).scrollTop(($("#contentBox")[0].scrollHeight));
                    });
                });
            </script>
        </div>
        <%= hidden_field_tag :talkroom_id, @sentroom.id %>
        <div class="form-group col-2 mt-auto mb-0 p-0">
        <%= form.button :type => "submit",
          class: "btn sent_btn btn-sm" do %>
            <i class="far fa-paper-plane"></i>
        <% end %>
        </div>
    </div>
<% end %>
</div>