@charset "UTF-8";

#wrapper {
  margin-bottom: 75px;
}

a {
  text-decoration: none;
}

.activate, #lyrics {
  background-color: #F9E325;
}

#lyrics {
  overflow: hidden;
}

#lyrics li {
  background-color: white;
}

small {
  font-size: 0.6em;
}

#ly-date {
  font-size: 0.6em;
}

#like_link {
  color: #F90B0B;
}

#comment_link {
  color: #13A5F9;
  font-size: 1.2em; 
  text-decoration: none;
}