@charset "UTF-8";

#user_title {
  position: relative;
  top: 60px;
}

#wrapper {
  /*margin-top: 110px;
  margin-bottom: 75px;*/
  position: relative;
  background-color: #F9E325;
  padding-bottom: 70px;
}

a {
  text-decoration: none;
}

#submit {
  background-color: #22D426;
  color: white;
}


.btn{
  border-radius: 25px;
}


@media screen and (min-width: 576px){
  #wrapper {
    padding-bottom: 5px;
    padding-top: 30px;
    margin-bottom: 50px;
  }
}