  <a 
   class="btn btn-outline-secondary btn-block text-dark"
   style="font-size: 1.2em;"
   data-toggle="tooltip"
   data-placement="right"
   title="Sent Message"
  >
    <i class="far fa-paper-plane"></i>
  </a>