<button 
 type="button" 
 class="btn btn-outline-secondary btn-block text-dark" 
 style="font-size: 1.2em;"
 data-toggle="modal" 
 data-target="#commnetModal"
>
  <i class="far fa-comment"></i>
  <span class="badge"><%= @count_lyrics %></span>
</button>