<button 
 type="button" 
 class="btn lyric_btn"
 id="comment"
 style="font-size: 1.2em;"
 data-toggle="modal" 
 data-target="#commnetModal"
>
  <i class="far fa-comment"></i>
  <span class="badge"><%= @count_lyrics %></span>
</button>