<% @comment_count = comment_counts(lyric) %>
<button 
 type="button" 
 class="btn btn-link"
 id="comment_link"
 style="font-size: 1.2em;"
 data-toggle="modal" 
 data-target="#commnetModal"
>
  <i class="far fa-comment"></i>
  <span class="badge"><%= @comment_count %></span>
</button>