<div class="col-12 col-sm-9 offset-sm-2">
    <div class="d-flex justify-content-start">
        <div class="col-4">
            <%= render 'talkrooms/talkroom_list' %>
        </div>
        <% unless op == "talkroom_top" %>
        <div class="col-8">
            <h1><%= @user.name %></h1>
            <%= render 'messages/message_list' %>
            <%= render 'messages/message_form', message: @message %>
        </div>
        <% end %>
    </div>
</div>