<% if @talkrooms.any? %>
    <nav class="nav flex-column nav-tabs border-0">
    <% @talkrooms.each do |talkroom| %>
        <% roommate = User.find(talkroom.roommate_id) %>
        <% user = User.find(talkroom.user_id) %>
        <a 
         href="<%= talkroom_path(talkroom) %>" 
         class="talkroom nav-link <%= 'activate rounded-0' if current_page?(talkroom_path(talkroom)) %>"
        >
            <%= roommate.name %>
            <% count_unread = counts_unread_oneroom(talkroom) %>
            <% unless count_unread == 0%>
                <span class="badge badge-secondary"><%= count_unread %></span>
            <% end %>
        </a>
    <% end %>
    </nav>
<% end %>
