@charset "UTF-8";

#logo {
  font-family: 'HG創英角ﾎﾟｯﾌﾟ体';
  letter-spacing: -0.1em;
  font-size: 1.7em;
  margin: 0;
}

#logo > span:nth-child(1) {
  color: #F90B0B;
}
#logo > span:nth-child(2) {
  color: #F9E325;
}
#logo > span:nth-child(3) {
  color: #13A5F9;
}
#logo > span:nth-child(4) {
  color: #F90B0B;
}
#logo > span:nth-child(5) {
  color: #F9E325;
}
#logo > span:nth-child(6) {
  color: #13A5F9;
}