@charset "UTF-8";

@media screen and (max-width: 576px){
  #under_menu {
    bottom :0;
    transform: translateY(3%);
    position: fixed;
    background-color: #13A5F9;
    z-index: 3;
  }
  
  .under_button{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
    background-color: white;
    border: 1px #13A5F9 solid;
  }
}