<div class="row">
    <div class="col-12">
        <%= link_to user_path, class: "card text-decoration-none border-0 mb-3"  do %>
            <% if user.image? %>
                <img 
                 src="<%= user.image.url %>" 
                 class="border card-img-top rounded-circle" 
                 style="width: 14rem; height: 14rem;"
                >
            <% else %>
                <p class="border card-img-top rounded-circle bg-info" style="width: 14rem; height: 14rem;"></p>
            <% end %>
            
            <div class="card-header bg-dark text-white">
                <%= user.name %>
            </div>
            <div class="card-body border">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= user.profile %></li>
                </ul>
            </div>
        <% end %>
    </div>
</div>