<div class="row">
    <div class="col-12">
        <%= link_to user_path, class: "card text-decoration-none" do %>
            <img src="<%= gravatar_url(user, { size: 200 }) %>" class="card-img-top p-3" alt="..." style="border-radius: 50%;" >
            <div class="card-header bg-dark text-white">
                <%= user.name %>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= user.profile %></li>
                </ul>
            </div>
        <% end %>
    </div>
</div>