<%= stylesheet_link_tag "users/follow", :media => "all" %>

    <%= render 'users/user_title', user: @user %>
<div id="wrapper">
    <div class="col-12 col-sm-9 offset-sm-2 p-0">
        <%= render 'tabbar' %>
        <div id="contentBox">
            <%= render 'relationships/follow_list', follows: @followers %>
        <div>
    </div>
</div>
