<%= render 'users/user_title', user: @user %>
<div class="col-12 col-sm-9 offset-sm-2">
    <%= render 'tabbar' %>
    <div class="border border-top-0" style="height: 55vh; overflow-y: scroll;">
        <%= render 'lyrics/lyric_list', op: 'user-page' %>
    <div>
</div>