<%= stylesheet_link_tag "users/show", :media => "all" %>

    <%= render 'users/user_title', user: @user %>
<div id="wrapper">
    <div class="col-12 col-sm-9 offset-sm-2 p-0">
        <%= render 'tabbar' %>
        <div id="contentBox">
            <%= render 'lyrics/lyric_list', op: 'user-page' %>
        <div>
    </div>
</div>
