<%= stylesheet_link_tag "lyrics/index", :media => "all" %>
<div class="col-12 col-sm-9 offset-sm-2 p-0" id="wrapper">
    <%= render 'lyrics/list_tabs', user: current_user %>
    <%= render 'lyrics/lyric_list', op: 'lyric-page' %>
    <%= paginate @lyrics %>
</div>