<%= stylesheet_link_tag "sessions/index", :media => "all" %>

<div id="redline" class="col-12"></div>
<div class="container">
    <div class="row d-flex justify-content-around">
        <h1 class="text-center col-12 mt-5">
            <span>L</span>
            <span>y</span>
            <span>r</span>
            <span>i</span>
            <span>c</span>
            <span>s</span>
        </h1>
        <%= link_to 'Sign Up', signup_path, class: 'col-sm-4 col-9 btn m-4 text-dark', id: 'signup' %>
        <%= link_to 'Login', login_path, class: 'col-sm-4 col-9 btn m-4 text-dark', id: 'login' %>
    </div>
</div>
<div id="blueline" class="col-12"></div>