@charset "UTF-8";

#contentBox {
    overflow-y:scroll; 
    height: 70vh;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}
#contentBox::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

html {
    height: 100vh;
}

body {
    height: 100%;
}

#wrapper {
    position: relative;
    top: 67px;
}

.modal-dialog {
    z-index: 1500;
}

.modal-footer .btn {
    border-radius: 25px;
}

.modal .edit {
    background-color: #22D426;
    color: white;
}

.modal .logout{
    background-color: #13A5F9;
    color: white;
}


.modal #message, .modal #message_yet{
  background-color: #22D426;
  color: white;
  width: 100%;
}
