@charset "UTF-8";

#user_title {
  position: relative;
  top: 60px;
}

#wrapper {
  margin-top: 110px;
  margin-bottom: 75px;
  position: fixed;
}

.user_image{
  text-decoration: none;
  background-color: white;
  width: 4rem; 
  height: 4rem;
}
a {
  text-decoration: none;
}

.activate {
  background-color: #F9E325;
}

#delete_button{
  border-radius: 25px;
}

#contentBox {
  overflow: hidden;
  height: 63vh;
  overflow-y: scroll;
  margin-bottom: 50px;
  background-color: #F9E325;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}

#contentBox::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

#user_link {
  text-decoration: none;
  cursor: pointer;
  color: #444;
}

.lyric_btn{
  width: 100%;
  border-radius: 25px;
  margin: 5px 0;
}

#message_yet{
  width: 238%;
}

#message, #message_yet{
  background-color: #22D426;
  color: white;
}

@media screen and (max-width: 576px){
  #contentBox {
    height: 68vh;  
  }
}