<ul class="list-unstyled">
    <li data-toggle="tooltip" data-placement="right" title="User Card" class="d-flex justify-content-end">
        <!-- Button trigger modal -->
        <a data-toggle="modal" data-target="#current_user" style="cursor: pointer;">
            <%= render 'users/user_image_button', rem: "4rem", user: user %>
        </a>
    </li>
    <li data-toggle="tooltip" data-placement="right" title="Message" class="my-1 d-flex justify-content-end">
        <%= render 'messages/talkroom_button', user: user %>
    </li>
    <li data-toggle="tooltip" data-placement="right" title="Application" class="my-1 d-flex justify-content-end">
        <%= render 'requests/requests_button' %>
    </li>
    <li data-toggle="tooltip" data-placement="right" title="Lyric Post" class="my-1 d-flex justify-content-end">
        <%= link_to new_lyric_path, class: "btn btn-block btn-outline-success rounded-circle mr-2",style: "width: 3rem; height: 3rem;" do %>
            <i class="fas fa-pen"></i>
        <% end %>
    </li>
</ul>

